
.jumbotron {
    padding: 0.5em 0.6em;
}
.jumbotron h1 {
    font-size: 2em;
}
.jubmbotron lead {
    font-size: 1.2em;

}

#player1Div, #player2Div {
    text-align : center;
    background-color : #145DA0;
    border : 1px solid white;
    padding : 1em;
    color : white;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;    
}
/* 
#player2Div {
    text-align : center;
    border : 1px solid white;
    color : white;
    background-color : #145DA0;
    padding : 1em;

} */